@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-transition {
  transition: all 0.5s;
}

#nav_area ul li:last-child {
  border-bottom: 0;
}

.custom_collapse {
  max-width: 60px;
}

.custom_collapse #nav_area ul li {
  padding-top: 8px;
  padding-bottom: 8px;
}

.custom_collapse #nav_area ul li span {
  transition: all 0.5s;
  opacity: 0;
}

.custom_collapse .logout .shape {
  transition: all 0.5s;
  max-width: 70%;
  padding-left: 0.6rem;
}

.custom_collapse .logout .shape span {
  display: none;
}

.custom_container {
  transition: all 0.5s;
  padding-top: 65px;
  padding-left: 0;
}

@media (min-width: 950px) {
  .custom_container {
    padding-left: 270px;
  }

  .container_collapse_mode {
    padding-left: 65px;
  }
}
